@import "./App.scss";
$bootstrapBlue: #007bff;

#intro {
    height: 100vh;
    border: 20px solid black;
}

.intro-heading {
    &--h1 {
        @include fSCalc(25px, .96vw);
    }

    &--h2 {
        @include fSCalc(20px, .96vw);
    }
}

.intro-start {
    display: flex;
    justify-content: center;

    .btn-start {
        padding: calc(60px + 3.96vw);
        @include fSCalc(20px, .96vw);
        border-radius: 50%;
        box-shadow: inset 0px -10px 0px 10px grey;
        border-left-color: grey;
        border-right-color: grey;
        border-bottom-color: grey;

        &:hover {
            box-shadow: 0px 0px;
            border-left-color: $bootstrapBlue;
            border-right-color: $bootstrapBlue;
            border-bottom-color: $bootstrapBlue;
        }
    }
}

.intro-whoMade {
    &--h2 {
        @include fSCalc(10px, .76vw);
    }

}